In [1]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

# 1. Суммы квадратов, остатки, предсказанные значения, R2

# 1.1 Предсказанные и остатки

## 1.1.1 Задача

In [4]:
check = '''sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25'''

In [6]:
df = pd.read_csv(io.StringIO(check), sep='\s+')

In [7]:
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [11]:
df['y_pred'] = 3525.14 + df['totwrk']*(-0.16) + df['age']*(1.62) + df['male']*(51.84) + np.log(df['hrwage'])*(-9.88) # создаём переменную y_predicted

In [12]:
df

   sleep  totwrk  age  male  hrwage       y_pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [13]:
df['residual'] = df['sleep'] - df['y_pred']

In [14]:
df

   sleep  totwrk  age  male  hrwage       y_pred    residual
0   3113    3438   32     1    7.07  3059.416098   53.583902
1   2920    5020   31     1    1.43  2820.466176   99.533824
2   2670    2815   44     1   20.53  3168.003754 -498.003754
3   3083    3786   30     0    9.62  2945.613219  137.386781
4   3448    2580   64     1    2.75  3257.865383  190.134617
5   4063    1205   41     1   19.25  3421.379791  641.620209

## 1.1.2 Задача

In [51]:
check_12 = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46'''

In [52]:
df = pd.read_csv(io.StringIO(check_12), sep='\s+')

In [17]:
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [19]:
df['y_pred'] = -1.71 + 0.21*np.log(df['capital']) + 0.71*np.log(df['labour']) # создаём переменную y_predicted

In [20]:
df

   output  capital  labour    y_pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [22]:
df['residual'] = np.log(df['output']) - df['y_pred']

In [23]:
df.round(2)

   output  capital  labour  y_pred  residual
0    9.25     2.61     184    2.19      0.03
1    3.66     1.32      91    1.55     -0.25
2   28.78    22.09     426    3.24      0.12
3    4.12    10.74      72    1.82     -0.41
4    2.89     1.16      46    1.04      0.02

# 1.2 Суммы квадратов и R^2

## 1.2.1 Задача

In [26]:
TSS = 100.35
ESS = 47.56

In [44]:
RSS = TSS - ESS
RSS

52.78999999999999

In [46]:
R2=ESS/TSS
round(R2,2)

0.47

## 1.2.2 Задача

## 1.2.3 Задача

# 2 R2adj

## 2.1 Задача

$$
R^2_{adj}=1-(1-R^2)*\frac{(n-1)}{(n-k)}
$$

In [49]:
n=526
k=5
R2=0.288

In [50]:
R2adj=1-(1-R2)*(n-1)/(n-k)
round(R2adj,2)

0.28

# 3. Суммы квадратов, остатки, предсказанные значения, R2 (Python)

## 3.1 Sleep equation

In [53]:
check_31 = '''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''

In [54]:
df = pd.read_csv(io.StringIO(check_31), sep='\s+')

In [55]:
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [56]:
df['Факт']

0    3113
1    3083
2    4063
3    3018
4    3630
5    2993
Name: Факт, dtype: int64

In [57]:
df['Факт'].mean()

3316.6666666666665

In [59]:
difference = df['Факт'] - df['Факт'].mean()
difference

0   -203.666667
1   -233.666667
2    746.333333
3   -298.666667
4    313.333333
5   -323.666667
Name: Факт, dtype: float64

In [61]:
TSS = np.sum(difference**2)
TSS

945233.3333333334

In [62]:
difference = df['Fitted'] - df['Факт'].mean()
difference

0   -222.212667
1   -373.086667
2    177.476333
3   -204.683667
4    160.247333
5    -21.268667
Name: Fitted, dtype: float64

In [63]:
ESS = np.sum(difference**2)
ESS

288096.9463873332

In [64]:
difference = df['Fitted'] - df['Факт']
difference

0    -18.546
1   -139.420
2   -568.857
3     93.983
4   -153.086
5    302.398
dtype: float64

In [74]:
RSS = np.sum(difference**2)
RSS

467092.85505400004

In [75]:
RSS = TSS - ESS
RSS

657136.3869460002

In [76]:
R2 = ESS/TSS
R2

0.30478923692985843

$$
SER = \sqrt{RSS}
$$